<div>
    <ccd-linked-cases-to-table [caseField]="caseField" (notifyAPIFailure)="getFailureNotification($event)"></ccd-linked-cases-to-table>
    <br>
    <br>
    <ccd-linked-cases-from-table [caseField]="caseField" (notifyAPIFailure)="getFailureNotification($event)"></ccd-linked-cases-from-table>
</div>
<div class="govuk-width-container" *ngIf="serverError">
    <div class="govuk-main-wrapper">
      <p class="govuk-body">{{serverError.message}}</p>
      <span class="govuk-body align-left">
          <a href="javascript:void(0)" (click)="reloadHearings()"
             id="reload-hearing-tab"
             class="govuk-link">Reload hearings tab</a>
        </span>
    </div>
  </div>