// This is a GOV.UK Publishing specific component that
// can be seen at http://govuk-static.herokuapp.com/component-guide/related_items

.govuk-grid-column-payment-one-quarter {
  float: left;
  padding-left: 15px;
  width: 100%;



  @media screen and (min-width: 650px) {
    width: 18%;
    // margin-right: -15;
    padding-left: 15px;
  }
}

.govuk-grid-column-three-quarters {
  float: left;
  width: 100%;

  @media screen and (min-width: 650px) {
    width: 80%;
  }
}

.js-enabled .js-hidden {
  display: none !important;
}

mark.comment {
  background-color: govuk-colour("orange");
}

.medium-toolbar-arrow-under:after {
  border-color: #2f1e07 transparent transparent;
}

.medium-toolbar-arrow-over:before {
  border-color: transparent transparent #2f1e07 ;
}

// Search search-square

.search-square{
  background: #005ea5;
  padding: 5px 10px 10px 10px;
  width:20px;
  height:20px;


}


/* Style buttons */
.btn {
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}



// Home office kit-icons

.side-space {
  margin-right: .5em;
}
.icon-medium {
  font-size: 24px;
  &:before {
    vertical-align: bottom;
    padding-bottom: 1em;
  }
}
.icon-small {
  font-size: 18px;
  &:before {
    vertical-align: middle;
    padding-bottom: 1em;
  }
}

.icon-medium-white {
  font-size: 24px;
  color: #fff;
  &:before {
    vertical-align: bottom;
    padding-bottom: 1em;
  }
}

.icon-small-white {
  font-size: 18px;
  color: #fff;
  &:before {
    vertical-align: middle;
    padding-bottom: 1em;
  }
}

.submenu{
  background: 	#005ea5;
  height: 10px;
  width: 100%;
}

.no-border-bottom {
  border-bottom: 0;
}

.linked-payment {
  border-left: 6px solid #006435;
  padding-left: 7px;
}

.linked-payment-ref {
  padding-left: 0px;

  @media screen and (min-width: 650px) {
    padding-left: 7px;

  }
}

.hidden-link {
  color: #fff;
}

.hmcts-sub-navigation__item2 {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  box-shadow: inset 0 -1px 0 #bfc1c3;
  display: block;
  margin-top: -1px;
}

.accountright{

  padding-right: 500px;
}

.transactions-checkboxes {
  &__item {
    display: inline-block;
  }
}

// Check your answers PBA

// Recommended - Use these styles for the check your answers pattern
.govuk-check-your-answers {

  @include govuk-font($size: 19);

  @media screen and (min-width: 769px) {
    display: table;
  }
}

.govuk-check-your-answers--pba-overview {
  @media screen and (min-width: 769px) {
    // to make focusOn of q&a line up horizontally (unless there is just one focusOn)
    width: 100%;
    // recommended for mostly short questions
    .govuk-check-your-answers__question {
      width: 35%;
    }
  }
}

.pay-balance-button{
  margin-bottom: 6px;
}
