<div class="form-group" [formGroup]="organisationFormGroup">
  <fieldset *ngIf="(organisations$ | async)?.length === 0" class="govuk-fieldset">
    <div class="hmcts-banner">
      <svg class="hmcts-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
        <path d="M13.7,18.5h-2.4v-2.4h2.4V18.5z M12.5,13.7c-0.7,0-1.2-0.5-1.2-1.2V7.7c0-0.7,0.5-1.2,1.2-1.2s1.2,0.5,1.2,1.2v4.8
  C13.7,13.2,13.2,13.7,12.5,13.7z M12.5,0.5c-6.6,0-12,5.4-12,12s5.4,12,12,12s12-5.4,12-12S19.1,0.5,12.5,0.5z" /></svg>
      <div class="hmcts-banner__message">
        <span class="hmcts-banner__assistive">information</span>
          <p class="warning-message">Organisation search is currently unavailable.</p>
      </div>
    </div>
    <div class="warning-panel">
      <div class="warning-message">
        We are working to fix the issue. You can try again later.
      </div>
    </div>
  </fieldset>
  <fieldset *ngIf="(organisations$ | async)?.length > 0" class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h2 class="heading-h2">
        Search for an organisation
      </h2>
    </legend>
    <div class="govuk-form-group">
      <label class="govuk-label" for="search-org-text">
        <span id="search-org-hint" class="govuk-hint">
          You can only search for organisations already registered with MyHMCTS. For example, you can search by organisation name or address.
        </span>
      </label>
      <input id="search-org-text" class="form-control" type="text" [formControl]="searchOrgTextFormControl" />
    </div>
    <div class="govuk-form-group">
      <label class="govuk-label" for="organisation-table">
        <h2 class="heading-h2">Organisation name and address</h2>
      </label>
      <hr class="govuk-section-break govuk-section-break--visible">
      <div *ngIf="!(selectedOrg$ | async)?.organisationIdentifier; else selectedOrganisation" [ngClass]="{'scroll-container ': (simpleOrganisations$ | async)?.length > 10}">
        <table id="organisation-table" *ngFor="let organisation of (simpleOrganisations$ | async)">
          <caption><h3 class="name-header">{{organisation.name}}</h3></caption>
          <tbody>
          <tr>
            <td class="td-address">
              <ccd-markdown [content]="organisation.address"></ccd-markdown>
            </td>
            <td class="td-select">
              <a href="javascript:void(0);" (click)="selectOrg(organisation)" title="Select the organisation {{organisation.name}}">Select</a>
            </td>
          </tr>
          </tbody>
        </table>
        <div *ngIf="(simpleOrganisations$ | async)?.length === 0 && (searchOrgValue$ | async)?.length > 2">
          <div class="no-result-message">
            No results found.
          </div>
        </div>
      </div>
      <ng-template #selectedOrganisation>
        <table id="organisation-selected-table" *ngIf="(selectedOrg$ | async) as selectedOrg">
          <caption><h3 class="name-header">{{selectedOrg.name}}</h3></caption>
          <tbody>
          <tr>
            <td class="td-address">
              <ccd-markdown [content]="selectedOrg.address"></ccd-markdown>
            </td>
            <td class="td-select">
              <a href="javascript:void(0);" (click)="deSelectOrg(selectedOrg)" title="Clear organisation selection for {{selectedOrg.name}}">Clear</a>
            </td>
          </tr>
          </tbody>
        </table>
      </ng-template>
    </div>
    <ccd-write-organisation-complex-field [caseField]="caseField"
                                          [formGroup]="formGroup"
                                          [selectedOrg$]="selectedOrg$">
    </ccd-write-organisation-complex-field>
    <details id="find-organisation-help" class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
      <span id="content-why-can-not-find-organisation" class="govuk-details__summary-text">
        Can’t find the organisation you are looking for?
      </span>
      </summary>
      <div id="content-reason-can-not-find-organisation" class="govuk-details__text">
        If you know that the solicitor is already registered with MyHMCTS, check that you have entered their details correctly.
        Remember that organisations can only register one office address. This means that the details could be slightly different from what you're expecting. Contact the solicitor directly if you have any concerns.
      </div>
    </details>
  </fieldset>
</div>
