<table class="{{'govuk-table ' + classes}}">
  <caption class="govuk-table__caption">{{caption}}</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col" *ngIf="selectionEnabled">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="select-all" name="select-all" type="checkbox" (change)="selectAll()"
                 [checked]="allOnPageSelected()" [disabled]="!canAnyBeShared()" />
          <!-- This label element is used to hide the standard checkbox with a govuk-styled one -->
          <label class="govuk-label govuk-checkboxes__label" for="select-all">
          </label>
        </div>
      </th>
      <th class="govuk-table__header" scope="col" *ngFor="let h of tableConfig.columnConfigs">{{h.header}}</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr data-selector="table-row" class="govuk-table__row" *ngFor="let c of cases">
      <th data-selector="table-header" class="govuk-table__header" scope="row" *ngIf="selectionEnabled">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="select-{{ c[tableConfig.idField] }}" name="select-{{ c[tableConfig.idField] }}"
                 type="checkbox" (change)="changeSelection(c)" [checked]="isSelected(c)" [disabled]="!canBeShared(c)" />
          <!-- This label element is used to hide the standard checkbox with a govuk-styled one -->
          <label class="govuk-label govuk-checkboxes__label" for="select-{{ c[tableConfig.idField] }}">
          </label>
        </div>
      </th>
      <ng-container *ngFor="let col of tableConfig.columnConfigs; first as isFirst">
        <th data-selector="table-header" class="govuk-table__header" scope="row" *ngIf="isFirst && firstCellIsHeader">
          <ng-container *ngIf="!col.type || col.type === 'text'">{{c[col.key]}}</ng-container>
          <ng-container *ngIf="col.type === 'link' && c.routerLink">
            <a class="govuk-link" [routerLink]="c.routerLink">{{c[col.key]}}</a>
          </ng-container>
        </th>
        <td data-selector="table-cell" class="govuk-table__cell" *ngIf="!(isFirst && firstCellIsHeader)" [ngSwitch]="col?.type">
          <ng-container *ngIf="col.type === 'link' && c.routerLink">
            <a class="govuk-link" [routerLink]="c.routerLink">{{c[col.key]}}</a>
          </ng-container>
          <ng-container *ngSwitchCase="'money'">-{{ c[col.key] | currency:'GBP' }}</ng-container>
          <ng-container *ngSwitchCase="'date'">{{formatDate(c[col.key])}}</ng-container>
          <ng-container *ngSwitchCase="'dateAtTime'">{{formatDateAtTime(c[col.key])}}</ng-container>
          <ng-container *ngSwitchDefault>{{c[col.key]}}</ng-container>
        </td>
      </ng-container>
    </tr>
  </tbody>
</table>
