<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" *ngFor="let col of columnNames">
        {{col}}
      </th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row" *ngFor="let item of caseListItems">
      <!-- <td *ngIf="selectionEnabled" class="govuk-table__header" scope="col">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="select-{{ result.case_id }}" name="select-{{ result.case_id }}"
                 type="checkbox" (change)="changeSelection(result)" [checked]="isSelected(result)" [disabled]="!canBeShared(result)" />
          <label class="govuk-label govuk-checkboxes__label" for="select-{{ result.case_id }}">
          </label>
        </div>
      </td> -->
      <td class="govuk-table__cell" *ngFor="let key of Object.keys(item)">
        {{item[key]}}
      </td>
    </tr>
  </tbody>
</table>
