.rightBorderSeparator {
  border-right-width: 4px;
  border-right-color: #ffcc02;
  border-right-style: solid;
}

.validationError {
  cursor: pointer;
  text-decoration: underline;
  color: #d4351c;
}
