<ng-container *ngIf="currentPage">
  <h1 *ngIf="!currentPage.label" class="govuk-heading-l">{{eventTrigger.name}}</h1>
  <ng-container *ngIf="currentPage.label">
    <span class="govuk-caption-l">{{ eventTrigger.name}}</span>
    <h1 class="govuk-heading-l">{{currentPage.label}}</h1>
  </ng-container>
</ng-container>

<!-- Case ID -->
<h2 *ngIf="getCaseId()" class="heading-h2">
  #{{ getCaseId() | ccdCaseReference}}
</h2>

<!-- Generic error heading and error message to be displayed only if there are no specific callback errors or warnings, or no error details -->
<div *ngIf="error && !(error.callbackErrors || error.callbackWarnings || error.details)" class="error-summary" role="status" aria-labelledby="edit-case-event_error-summary-heading" tabindex="-1">
  <h1 class="heading-h1 error-summary-heading" id="edit-case-event_error-summary-heading">
    Something went wrong
  </h1>
  <div class="govuk-error-summary__body" id="edit-case-event_error-summary-body">
    <p>We're working to fix the problem. Try again shortly.</p>
    <p><a href="get-help" target="_blank">Contact us</a> if you're still having problems.</p>
  </div>
</div>
<!-- Event error heading and error message to be displayed if there are specific error details -->
<div *ngIf="error && error.details" class="error-summary" role="status" aria-labelledby="edit-case-event_error-summary-heading" tabindex="-1">
  <h3 class="heading-h3 error-summary-heading" id="edit-case-event_error-summary-heading-3">
    The event could not be created
  </h3>
  <p>{{error.message}}</p>
  <ul *ngIf="error.details?.field_errors" class="error-summary-list">
    <li *ngFor="let fieldError of error.details.field_errors" class="ccd-error-summary-li">{{fieldError.message}}</li>
  </ul>
</div>
<ccd-callback-errors
  [triggerTextContinue]="triggerTextStart"
  [triggerTextIgnore]="triggerTextIgnoreWarnings"
  [callbackErrorsSubject]="callbackErrorsSubject"
  (callbackErrorsContext)="callbackErrorsNotify($event)">
</ccd-callback-errors>
<div class="width-50">
  <form *ngIf="currentPage" class="form" [formGroup]="editForm" (submit)="submit()">
    <fieldset id="fieldset-case-data">
      <!-- single column -->
      <ccd-case-edit-form id='caseEditForm' *ngIf="!currentPage.isMultiColumn()" [fields]="currentPage.getCol1Fields()" [formGroup]="editForm.controls['data']" [caseFields]="caseFields" [pageChangeSubject]="pageChangeSubject" (valuesChanged)="applyValuesChanged($event)"></ccd-case-edit-form>
      <!-- two columns -->
      <div *ngIf="currentPage.isMultiColumn()" class="grid-row">
        <div class="column-two-thirds rightBorderSeparator">
          <ccd-case-edit-form id='caseEditForm1' [fields]="currentPage.getCol1Fields()" [formGroup]="editForm.controls['data']" [caseFields]="caseFields"></ccd-case-edit-form>
        </div>
        <div class="column-one-third">
          <ccd-case-edit-form id='caseEditForm2' [fields]="currentPage.getCol2Fields()" [formGroup]="editForm.controls['data']" [caseFields]="caseFields"></ccd-case-edit-form>
        </div>
      </div>
    </fieldset>

    <div class="form-group form-group-related">
      <button class="button button-secondary" type="button" [disabled]="!hasPrevious()" (click)="toPreviousPage()">Previous</button>
      <button class="button" type="submit" [disabled]="currentPageIsNotValid() || submitting()">{{triggerText}}</button>
    </div>

    <p class="cancel"><a (click)="cancel()" href="javascript:void(0)">{{getCancelText()}}</a></p>

  </form>
</div>
