<div class="form-group" [ngClass]="{'form-group-error': !textareaControl.valid && textareaControl.touched}">

  <label [for]="id()">
    <span class="form-label" *ngIf="caseField.label">{{caseField | ccdFieldLabel}}</span>    
  </label>
  <span class="form-hint" *ngIf="caseField.hint_text">{{caseField.hint_text}}</span>
  <span class="error-message" *ngIf="textareaControl.errors && textareaControl.touched">{{textareaControl.errors | ccdFirstError:caseField.label}}</span>

  <textarea class="form-control bottom-30" [ngClass]="{'govuk-textarea--error': textareaControl.errors && textareaControl.touched}" 
   [id]="id()" rows="3" [formControl]="textareaControl"></textarea>

</div>
