.activity-banner {
  margin-top: 4px;
  height: 40px;
  background-color: #912b88;
  &.case-locked {
    background-color: #e72626;
  }

  .banner-icon {
    float: left;
    color: #FFFFFF;
    padding-left: 9px;
    position: relative;
    top: 50%;
    transform: translateY(-40%);
  }

  .banner-text {
    padding-left: 40px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
    font-family: "nta", Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.25;
    text-align: left;
    color: #ffffff;
  }
}