<ng-container ccdConditionalShowForm [formGroup]="formGroup" [caseFields]="fields" [contextFields]="caseFields" *ngFor="let field of fields">
  <div ccdLabelSubstitutor [caseField]="field" [formGroup]="formGroup" [contextFields]="caseFields">
    <ng-container [ngSwitch]="field | ccdIsReadOnlyAndNotCollection ">
      <ccd-field-read *ngSwitchCase="true"
                      [caseField]="field"
                      [caseFields]="caseFields"
                      [withLabel]="true"
                      [formGroup]="formGroup"
                      [attr.field_id]="field.id"
                      [attr.field_type]="field.field_type.type"
      ></ccd-field-read>
      <ng-container *ngSwitchCase="false">
        <ng-container *ngIf="!(field | ccdIsCompound); else CompoundRow">
          <ccd-field-write [caseField]="field"
                           [caseFields]="caseFields"
                           [formGroup]="formGroup"
                           [idPrefix]=""
                           [hidden]="field.hidden"
                           [attr.field_id]="field.id"
                           [attr.field_type]="field.field_type.type"
          >
          </ccd-field-write>
        </ng-container>
        <ng-template #CompoundRow>
          <ccd-field-write [caseField]="field"
                           [caseFields]="caseFields"
                           [formGroup]="formGroup"
                           [idPrefix]="field.id + '_'"
                           [hidden]="field.hidden"
                           [attr.field_id]="field.id"
                           [attr.field_type]="field.field_type.type"
          >

          </ccd-field-write>
        </ng-template>
      </ng-container>
    </ng-container>
  </div>
</ng-container>
