@import "node_modules/govuk_frontend_toolkit/stylesheets/_shims";
@import "node_modules/govuk_frontend_toolkit/stylesheets/_conditionals";
@import "node_modules/govuk_frontend_toolkit/stylesheets/_measurements";
@import "node_modules/govuk_frontend_toolkit/stylesheets/_colours.scss";

$blue_pagination: #005da6;

.ngx-pagination {
    margin-left: 0;
    margin-bottom: 1rem;
    padding-top: 25px;
    text-decoration: none;
    text-align: left;
    font-size: 16px;
}
.ngx-pagination::before,
.ngx-pagination::after {
    content: " ";
    display: table;
}
.ngx-pagination::after {
    clear: both;
}
.ngx-pagination li {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    margin-right: 0.0625rem;
    border-radius: 0;
}
.ngx-pagination li {
    display: inline-block;
}
.ngx-pagination a,
.ngx-pagination button {
    color: #0a0a0a;
    display: block;
    padding: 0.1875rem 0.625rem;
    border-radius: 0;
    color: $blue_pagination;
}
.ngx-pagination a:hover,
.ngx-pagination button:hover {
    background: #e6e6e6;
}
.ngx-pagination .current {
    padding: 0.1875rem 0.625rem;
    background: $white;
    color:  #4c2c92;
    cursor: default;
    font-weight: 900;
}
.ngx-pagination .disabled {
    display: none;
}
.ngx-pagination .disabled:hover {
    background: transparent;
}
.ngx-pagination a,
.ngx-pagination button {
    cursor: pointer;
}
.ngx-pagination .pagination-previous a::before,
.ngx-pagination .pagination-previous.disabled::before {
    content: "<";
    display: inline-block;
    margin-right: 0.5rem;
    color: #0a0a0a;
    font-weight: 900;
}
.ngx-pagination .pagination-next a::after,
.ngx-pagination .pagination-next.disabled::after {
    content: ">";
    display: inline-block;
    margin-left: 0.5rem;
    color: #0a0a0a;
    font-weight: 900;
}
.ngx-pagination .show-for-sr {
    position: absolute !important;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}
.ngx-pagination .small-screen {
    display: none;
}
@media screen and (max-width: 601px) {
    .ngx-pagination.responsive .small-screen {
        display: inline-block;
    }
    .ngx-pagination.responsive li:not(.small-screen):not(.pagination-previous):not(.pagination-next) {
        display: none;
    }
}
