<div class="form-group" [ngClass]="{'form-group-error': !numberControl.valid && numberControl.touched}">

  <label [for]="id()">
    <span class="form-label" *ngIf="caseField.label">{{caseField | ccdFieldLabel}}</span>
  </label>
  <span class="form-hint" *ngIf="caseField.hint_text">{{caseField.hint_text}}</span>
  <span class="error-message" *ngIf="numberControl.errors && numberControl.touched">{{numberControl.errors | ccdFirstError:caseField.label}}</span>  

  <input class="form-control bottom-30" (blur)="inputBlur()" [id]="id()" [ngClass]="{'govuk-input--error': numberControl.errors && numberControl.touched}" type="number" [formControl]="numberControl">

</div>
