language: node_js
cache: yarn
script:
- yarn --version
- yarn lint
- yarn test
after_success:
- yarn test:codacy-upload
- yarn test:codecov-upload
deploy:
  provider: npm
  email: jenkins-reform@hmcts.net
  api_key:
    secure: MZbY19gZM0offs+xqjc31bYx1JeAtC9FkZ55Wozne140xz5GUn/87pSrrjeNpxsLWaGs0Y+emoSg7kGnqOA0RqmOaqFrB/pigWfreJqiKocXZVEogJMLhmN/tFmM7V7EteoHihljDUhB31uBj7gDk7WdoWtU4l8zslRkJ/HVCUq7z8CdDzmiJFCv26g+EfYt7Sw7yj902bLIAtEi20MXMHvyasGqPuMsbYl4r7SiASePChL13yZ0/tpV4AvDTPeMnyzD1vcvqYyolCWgSiGxft+aVcicsnU3428RHaAWDU8N84Plu7fovbBWspEwxC4NTT887hdB/g7t9gzaTUAAR3yWCIH8lWg/tjhw5VM24eSss+XJXvbzwoBj71fyqGFT7mHG0e6DVfF8YkGJcNQlqG8v+ixZ+XjS0b27YsQY0QOEMa4jqmyLHd2gKic44Riaz/Jn6gnbz4KxfouJQyM8jtzIiLrPdtsNKWGUy68HtW36wdBJpnlGsSz6aIvpTIsAK0ePGbq/18th1V3tjskDOyDv0n2/bQ58IoMgcoJqC8n79VWt3kBjUDI5NjcbtTcTK4BQTdkP7+vBtfX9hDvgUVot3nmZ+pM032eji/BU+jH+8+kmdVZI5CLoXPWxEJJ5GHnKH+wraJupgfDUZHF0ryPoEloKG/4dZyhdhom4N1M=
  on:
    tags: true
    repo: hmcts/ccd-case-ui-toolkit
