language: node_js
node_js:
  - "8.9.4"
  - "10.19.0" # Highest Azure 10.*
matrix:
  # Allow node 12.x to fail until dependencies start working
  allow_failures:
    - node_js: "node"
    - node_js: "lts/*"
cache: yarn
before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s --
  - export PATH="$HOME/.yarn/bin:$PATH"
  - wget -q -O - https://dl-ssl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
  - sudo sh -c 'echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" >> /etc/apt/sources.list.d/google-chrome.list'
  - sudo apt-get update -q
  - sudo apt-get install -q google-chrome-stable
install:
  - npm install -g codecov
  - NG_CLI_ANALYTICS=false npm install -g @angular/cli
  - yarn install --frozen-lockfile
sudo: required
script:
  - yarn --version
  - yarn lint
  - yarn test:audit
  - yarn test
  - yarn build
  - yarn install:demo
  - yarn build:demo
after_success:
  - yarn test:codacy-upload
  - yarn coverage
  - '[ "$TRAVIS_BRANCH" = "master" -o "$TRAVIS_PULL_REQUEST" = "true" ] && ./scripts/create-release-tag.sh'
before_deploy:
  - if [[ "$TRAVIS_TAG" == *"-prerelease" ]]; then export PRERELEASE=true; else export PRERELEASE=false; fi
deploy:
- provider: releases
  api_key: $GH_TOKEN
  file: "RELEASE-NOTES.md"
  prerelease: $PRERELEASE
  on:
    tags: true
    repo: hmcts/ccd-case-ui-toolkit
  skip_cleanup: true
- provider: npm
  edge: true
  email: jenkins-reform@hmcts.net
  api_key:
    secure: IdEpB/GfBj9X91W18+41hA5+QetbQL8eyo9pfosR27ulkC06YsWcu5Svo+iLDIKZatm6JcowYFJxV98PPOnaPlm/HND7k3H3qnNiCVc2J5/wlum9vsEIesCB+ZG+aVjxngL8qj19bMJ8sHHINZeyHQAwCNXEvXZolGXAgjGqU2cPmnV3Ou9rmvi4CqZghQQTWxgOlXbjnbyYirMVmTbdxJxNHeOEmoDhEDbea2wKsbZs81pal1oF7C4WzuQyid0meKfaBI+kekN4fk8MAWPlAf3jb1lp8VehC6Kv9GbWuefsgB3ySqT3wBZaiF6bVoBxC2m4EkcB1VkhlpgZltSvJ2WYAPWKxv4rJAKqZEw4l7ChH17KXQNxkhkWevZFHFqEBnEcRI7Wy6OQOALSQvhZq2dy7f8qYzEQk/R2sJby4T5ZzGhzuPOf2li8aJn968qZq24nN1ZdLAIgpJ5cWjqycweGj9KBSGVZdW+Z1+c9o6sMN62S46X3m1uQT87JErGDhVu9onTMgmm9q6V1pgWcC49lSzls4uJ9D2o7i3ojTZ+RPtTZVgY4bMu0QdUipDVn2PWY1WAMKLTEzT+vnOH/cNcLsSQ5udpp2v/kEvsnvfMLEBowsxHz3klNPjYvAtphKlV70+uz8BH7irKZS07shwHjEtHQwFmBCO4fMfnvN+o=
  on:
    tags: true
    repo: hmcts/ccd-case-ui-toolkit
  skip_cleanup: true
