<table class="govuk-table" *ngIf="flagData">
  <caption class="govuk-table__caption govuk-table__caption--m">{{flagData.partyName}}---{{caseTitle}}</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header col-party-name">{{firstColumnHeader}}</th>
      <th scope="col" class="govuk-table__header col-comments">Comments</th>
      <th scope="col" class="govuk-table__header col-creation-date">Creation date</th>
      <th scope="col" class="govuk-table__header col-last-modified">Last modified</th>
      <th scope="col" class="govuk-table__header col-flag-status">Flag status</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body" *ngIf="!flagData.details || (flagData.details && flagData.details.length === 0)">
    <tr>
      <td colspan="5">None</td>
    </tr>
  </tbody>
  <tbody class="govuk-table__body" *ngIf="flagData.details && flagData.details.length > 0">
    <tr scope="row" class="govuk-table__row" *ngFor="let flagDetail of flagData.details">
      <td class="govuk-table__cell">
        <div>{{flagDetail.name}}</div>
        <div>{{flagDetail.otherDescription}}</div>
      </td>
      <td class="govuk-table__cell">{{flagDetail.flagComment}}</td>
      <td class="govuk-table__cell">{{flagDetail.dateTimeCreated | date: 'dd LLL yyyy'}}</td>
      <td class="govuk-table__cell">{{flagDetail.dateTimeModified | date: 'dd LLL yyyy'}}</td>
      <td class="govuk-table__cell">
        <strong *ngIf="flagDetail.status === caseFlagStatus.ACTIVE" class="govuk-tag">Active</strong>
        <strong *ngIf="flagDetail.status === caseFlagStatus.INACTIVE" class="govuk-tag govuk-tag--grey">Inactive</strong>
        <strong *ngIf="flagDetail.status === caseFlagStatus.REQUESTED" class="govuk-tag govuk-tag--grey">Requested</strong>
      </td>
    </tr>
  </tbody>
</table>
