<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr>
      <th class="govuk-table__header"></th>
      <th class="govuk-table__header">Comments</th>
      <th class="govuk-table__header">Creation date</th>
      <th class="govuk-table__header">Last modified</th>
      <th class="govuk-table__header">Flag status</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row" *ngFor="let flag of caseFlagData">
      <td class="govuk-table__cell">{{flag.flagName}}<br>{{flag.description}}</td>
      <td class="govuk-table__cell">{{flag.comments}}</td>
      <td class="govuk-table__cell">{{flag.creationDate}}</td>
      <td class="govuk-table__cell">{{flag.lastModified}}</td>
      <td class="govuk-table__cell">{{flag.status}}</td>
      <td class="govuk-table__cell">
        <strong *ngIf="flag.status === 'active'" class="govuk-tag">Active</strong>
        <strong *ngIf="flag.status === 'inactive'" class="govuk-tag govuk-tag--grey">Inactive</strong>
      </td>
    </tr>
  </tbody>
</table>
