<!-- Event trigger name -->
<h1 class="govuk-heading-l">{{ eventTrigger.name}}</h1>

<!-- Case ID -->
<span *ngIf="getCaseId()" class="heading-span" title="Case reference {{ getCaseId() | ccdCaseReference}}">
  #{{ getCaseId() | ccdCaseReference}}
</span>

<!-- Generic error heading and error message to be displayed only if there are no specific callback errors or warnings, or no error details -->
<div *ngIf="error && (!(error.callbackErrors || error.callbackWarnings || error.details) && !error.message)" class="error-summary" role="group" aria-labelledby="edit-case-event_error-summary-heading" tabindex="-1">
  <h1 class="heading-h1 error-summary-heading" id="edit-case-event_error-summary-heading">
    Something went wrong
  </h1>
  <div class="govuk-error-summary__body" id="edit-case-event_error-summary-body">
    <p>We're working to fix the problem. Try again shortly.</p>
    <p><a href="get-help" target="_blank">Contact us</a> if you're still having problems.</p>
  </div>
</div>
<!-- Event error heading and error message to be displayed if there are specific error details -->
<div *ngIf="error && (error.details || error.message)" class="error-summary" role="group" aria-labelledby="edit-case-event_error-summary-heading" tabindex="-1">
  <h3 class="heading-h3 error-summary-heading" id="edit-case-event_error-summary-heading">
    The event could not be created
  </h3>
  <p>{{error.message}}</p>
  <ul *ngIf="error.details?.field_errors" class="error-summary-list">
    <li *ngFor="let fieldError of error.details.field_errors" class="ccd-error-summary-li">{{fieldError.message}}</li>
  </ul>
</div>
<ccd-callback-errors [callbackErrorsSubject]="callbackErrorsSubject"
                     (callbackErrorsContext)="callbackErrorsNotify($event)"></ccd-callback-errors>

<form class="check-your-answers" [formGroup]="editForm" (submit)="submit()">
  <ng-container *ngIf="checkYourAnswerFieldsToDisplayExists()">

    <h2 class="heading-h2">Check your answers</h2>
    <span class="text-16">Check the information below carefully.</span>

    <table class="form-table">
      <tbody>
      <ng-container *ngFor="let page of this.wizard.pages">
        <ng-container *ngIf="isShown(page)">
          <ng-container *ngFor="let field of page
          | ccdPageFields: editForm.controls['data']
          | ccdReadFieldsFilter: false :undefined :true : editForm.controls['data']
          | ccdCYAPageLabelFilter ">
            <ng-container *ngIf="canShowFieldInCYA(field)">
              <tr ccdLabelSubstitutor [caseField]="field" [hidden]="field.hidden"
                  [formGroup]="editForm.controls['data']" [contextFields]="contextFields">
                <th *ngIf="!isLabel(field)" class="valign-top case-field-label"><span class="text-16">{{field.label}}</span></th>
                <td class="form-cell case-field-content" [attr.colspan]="isLabel(field) ? '2' : '1'">
                  <ccd-field-read
                    [formGroup]="editForm.controls['data']" [topLevelFormGroup]="editForm.controls['data']"
                    [caseField]="summaryCaseField(field)" [context]="paletteContext" [caseFields]="contextFields"></ccd-field-read>
                </td>
                <td class="valign-top check-your-answers__change case-field-change">
                  <a *ngIf="isChangeAllowed(field)" (click)="navigateToPage(page.id)"
                     href="javascript:void(0)"><span class="text-16">Change</span></a>
                </td>
              </tr>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
      </tbody>
    </table>
  </ng-container>
  <ng-container *ngIf="readOnlySummaryFieldsToDisplayExists()">

    <table class="summary-fields">
      <tbody>
      <ng-container *ngFor="let field of this.showSummaryFields">
        <ng-container [ngSwitch]="!(field | ccdIsCompound)">
          <tr *ngSwitchCase="true" ccdLabelSubstitutor [caseField]="field" [formGroup]="editForm.controls['data']" [contextFields]="contextFields">
            <th>{{field.label}}</th>
            <td class="form-cell">
              <ccd-field-read [formGroup]="editForm.controls['data']" [caseField]="summaryCaseField(field)"></ccd-field-read>
            </td>
          </tr>
          <tr *ngSwitchCase="false" class="compound-field" ccdLabelSubstitutor [caseField]="field" [formGroup]="editForm.controls['data']" [contextFields]="contextFields">
            <td colspan="2">
              <ccd-field-read [formGroup]="editForm.controls['data']" [caseField]="summaryCaseField(field)" [caseFields]="contextFields"></ccd-field-read>
            </td>
          </tr>
        </ng-container>
      </ng-container>
      </tbody>
    </table>
  </ng-container>
  <ng-container *ngIf="showEventNotes()">
    <fieldset id="fieldset-event" formGroupName="event" *ngIf="profile && !isSolicitor()">
      <div class="form-group">
        <label for="field-trigger-summary" class="form-label">
          Event summary (optional)
          <span class="form-hint">A few words describing the purpose of the event.</span>
        </label>
        <input type="text" id="field-trigger-summary" class="form-control bottom-30 width-50" formControlName="summary" maxlength="1024">
      </div>
      <div class="form-group">
        <label for="field-trigger-description" class="form-label">Event description (optional)</label>
        <textarea id="field-trigger-description" class="form-control bottom-30 width-50" formControlName="description"
                  maxlength="65536"></textarea>
      </div>
    </fieldset>
  </ng-container>
  <div class="form-group form-group-related">
    <button class="button button-secondary" type="button" [disabled]="!hasPrevious() || isSubmitting" (click)="previous()">Previous</button>
    <button type="submit" [disabled]="isDisabled" class="button">{{triggerText}}</button>
  </div>
  <p class="cancel"><a (click)="cancel()" href="javascript:void(0)" [class.disabled]="isSubmitting">{{getCancelText()}}</a></p>
</form>
