<div class="govuk-form-group  bottom-30" [id]="caseField.id"
     [ngClass]="{'form-group-error': dateControl && !dateControl.valid && dateControl.touched}">
  <fieldset>
    <legend>
      <span class="form-label" *ngIf="caseField.label">{{caseField | ccdFieldLabel }}</span>
      <span class="form-hint" *ngIf="caseField.hint_text">{{caseField.hint_text}}</span>
      <span class="error-message"
            *ngIf="dateControl && dateControl.errors && dateControl.touched">{{dateControl.errors | ccdFirstError}}</span>
    </legend>
    <div class="datepicker-container">
      <input class="govuk-input"
             #input
             aria-label="Please enter a date and time in the format DD/MM/YYYY HH:MM"
             [min]="minDate(caseField)"
             [max]="maxDate(caseField)"
             [formControl]="dateControl"
             [ngxMatDatetimePicker]="picker"
             (focusin)="focusIn()"
             (dateChange)="valueChanged()"
             ng-model-options="{timezone:'utc'}"
      >
      <mat-datepicker-toggle matSuffix [for]="picker" id="pickerOpener"></mat-datepicker-toggle>
      <ngx-mat-datetime-picker #picker
                               [color]="color"
                               [touchUi]="touchUi"
                               [hideTime]="hideTime"
                               [startView]="startView"
                               [stepHour]="stepHour"
                               [stepSecond]="stepSecond"
                               [stepMinute]="stepMinute"
                               [showSeconds]="showSeconds"
                               [showSpinners]="showSpinners"
                               [disableMinute]="disableMinute"
                               [enableMeridian]="enableMeridian"

                               (yearSelected)="yearSelected($event)"
                               (monthSelected)="monthSelected($event)"
                               (opened)="toggleClick()"
      >
      </ngx-mat-datetime-picker>
    </div>
  </fieldset>
</div>
