@import 'node_modules/govuk_frontend_toolkit/stylesheets/_shims';
@import 'node_modules/govuk_frontend_toolkit/stylesheets/_conditionals';
@import 'node_modules/govuk_frontend_toolkit/stylesheets/_measurements';
@import 'node_modules/govuk_frontend_toolkit/stylesheets/_colours.scss';


.datepicker-container {
  display: inline-block;
  position: relative;
  border: 2px solid transparent;
  margin-left: auto;
  margin-right: auto;
  min-width: 220px;
  &:focus-within {
    border-width: 2px !important;
    border-color: orange !important;
  }
  .datepicker-wrapper-input {
    position: relative;
    display: inline-flex;
    top: -20%;
    border: 0px;
    &:focus {
      border: 0px;
      outline: none;
    }
  }
  .mat-icon-button {
    &:focus {
      outline: none;
    }
  }
  .mat-datepicker-toggle {
    position: relative;
    display: inline-flex;
    top: -30%;
  }
}

.cdk-overlay-container {
  .mat-datepicker-content {
    .mat-calendar-header {
      height: 34px;
      border-bottom: 1px ridge #bfc1c3;
    }
    .mat-calendar-period-button {
      left: 14%;
      min-width: 125px;
      border-right: 1px ridge #bfc1c3;
      border-left: 1px ridge #bfc1c3;
      border-radius: 0px;
      top: -20px;
      width: 200%;
      .mat-button-wrapper {
        text-align: center;
        font-weight: bold;
      }
    }
    .mat-calendar-previous-button {
      left: -73%;
      top: -20px;
    }
    .mat-calendar-next-button {
      top: -20px;
      left: 1%;
    }
    .mat-calendar-table-header {
      color: black;
    }
    th.ng-star-inserted {
      font-weight: bold;
      font-size: 15px;
      padding-top: 2%;
      padding-bottom: 2%;
    }
    .mat-button-wrapper {
      text-transform: capitalize !important;
    }
    .mat-calendar-table-header-divider {
      padding: 0px;
      border-bottom: none;
      &::after {
        height: 0px;
      }
    }
    .mat-calendar-content {
      padding: 0px;
    }
    ngx-mat-month-view {
      .mat-calendar-body-label {
        font-weight: bold;
        font-size: large;
        color: black;
      }
      .mat-calendar-body-selected {
        border: none;
        background-color: transparent;
        color: black;
      }
      .mat-calendar-body-cell {
        border: 1px ridge #bfc1c3;
        .mat-calendar-body-cell-content {
          width: 50%;
          height: 50%;
          padding: 12px;
          .mat-calendar-body-today {
            border-color: none;
            .mat-calendar-body-selected {
              box-shadow: none;
            }
          }
        }
      }
    }
  }
}