<div class="tabs">

  <ul class="tabs-list" role="tablist">
    <li class="tabs-list-item" *ngFor="let panel of panels">
      <a
        class="tabs-toggle"
        [routerLink]="['.']"
        [fragment]="panel.id"
        role="tab"
        (click)="show(panel.id)"
        (keyup)="handleKeyUp($event, panel.id)"
        [attr.aria-controls]="panel.id"
        [attr.aria-selected]="panel.selected"
        [attr.tabindex]="panel.selected ? 0 : -1"
        [ngClass]="{
          'tabs-toggle-selected': panel.selected
        }"
        #tab
      >{{panel.title}}</a>
    </li>
  </ul>

  <div class="tabs-content">
    <ng-content></ng-content>
  </div>

</div>
