
<div>
  <div class="dialog-header">
    <h2 (click)="cancel()" class="heading-medium x">X</h2>
  </div>
  <div>
    <h2 class="heading-medium dialog-title">Are you sure you want to replace the existing file?</h2>
  </div>
  <div class="dialog-info">
    <span class="text-info">You are about to delete the original file uploaded. Are you sure you want to proceed?</span>
  </div>
  <div>
    <button type="button" title="Replace" class="button replace-button" (click)="replace()">Replace file</button>
    <button type="button" title="Cancel" class="button button-secondary" (click)="cancel()">Cancel</button>
  </div>
</div>
