<div class="form-group" [ngClass]="{'form-group-error': !fixedListControl.valid && fixedListControl.touched}">

  <label [for]="id()">
    <span class="form-label" *ngIf="caseField.label">{{caseField | ccdFieldLabel}}</span>
    <span class="form-hint" *ngIf="caseField.hint_text">{{caseField.hint_text}}</span>
    <span class="error-message" *ngIf="fixedListControl.errors && fixedListControl.touched">{{fixedListControl.errors | ccdFirstError}}</span>
  </label>

  <select class="form-control ccd-dropdown bottom-30" [id]="id()" [formControl]="fixedListControl">
    <option value="">--Select a value--</option>
    <option value="{{type.code}}" *ngFor="let type of caseField.field_type.fixed_list_items">
      {{type.label}}
    </option>
  </select>

</div>
