<div class="form-group">

  <label [for]="id()">
    <span class="form-label" *ngIf="caseField.label">{{caseField | ccdFieldLabel}}</span>
    <span class="form-hint" *ngIf="caseField.hint_text">{{caseField.hint_text}}</span>
  </label>

  <select class="form-control ccd-dropdown bottom-30" [id]="id()" 
  [(ngModel)]="caseField.value">
    <option [ngValue]=null>--Select a value--</option>
    <option [ngValue]="type.code" *ngFor="let type of caseField.list_items">{{type.label}}</option>
  </select>

</div>
