<div class="form-date">

  <div class="form-group form-group-day">
    <label class="form-label" [for]="dayId()">Day</label>
    <input #dayInput
           class="form-control"
           [id]="dayId()"
           [name]="dayId()"
           type="number"
           [value]="displayDay"
           (change)="dayChange(dayInput.value)"
           (keyup)="dayChange(dayInput.value)"
           (blur)="inputBlur()"
           (focus)="inputFocus()">
  </div>

  <div class="form-group form-group-month">
    <label class="form-label" [for]="monthId()">Month</label>
    <input #monthInput
           class="form-control"
           [id]="monthId()"
           [name]="monthId()"
           type="number"
           [value]="displayMonth"
           (change)="monthChange(monthInput.value)"
           (keyup)="monthChange(monthInput.value)"
           (blur)="inputBlur()"
           (focus)="inputFocus()">
  </div>

  <div class="form-group form-group-year">
    <label class="form-label" [for]="yearId()">Year</label>
    <input #yearInput
           class="form-control"
           [id]="yearId()"
           [name]="yearId()"
           type="number"
           [value]="displayYear"
           (change)="yearChange(yearInput.value)"
           (keyup)="yearChange(yearInput.value)"
           (blur)="inputBlur()"
           (focus)="inputFocus()">
  </div>

  <div class="form-group form-group-hour" *ngIf="isDateTime">
    <label class="form-label" [for]="hourId()">Hour</label>
    <input #hourInput
           class="form-control"
           [id]="hourId()"
           [name]="hourId()"
           type="number"
           [value]="displayHour"
           (change)="hourChange(hourInput.value)"
           (keyup)="hourChange(hourInput.value)"
           (blur)="inputBlur()"
           (focus)="inputFocus()">
  </div>

  <div class="form-group form-group-minute" *ngIf="isDateTime">
    <label class="form-label" [for]="minuteId()">Minute</label>
    <input #minuteInput
           class="form-control"
           [id]="minuteId()"
           [name]="minuteId()"
           type="number"
           [value]="displayMinute"
           (change)="minuteChange(minuteInput.value)"
           (keyup)="minuteChange(minuteInput.value)"
           (blur)="inputBlur()"
           (focus)="inputFocus()">
  </div>

  <div class="form-group form-group-second" *ngIf="isDateTime">
    <label class="form-label" [for]="secondId()">Second</label>
    <input #secondInput
           class="form-control"
           [id]="secondId()"
           [name]="secondId()"
           type="number"
           [value]="displaySecond"
           (change)="secondChange(secondInput.value)"
           (keyup)="secondChange(secondInput.value)"
           (blur)="inputBlur()"
           (focus)="inputFocus()">
  </div>

</div>
