<table>
  <caption>
    <h1 class="heading-h1">Linked cases</h1>
  </caption>
  <caption>
    <h2 class="heading-h2">This case is linked to</h2>
  </caption>
  <thead>
    <tr>
      <th><span class="text-16">Case name and number</span></th>
      <th><span class="text-16">Case type</span></th>
      <th><span class="text-16">Service</span></th>
      <th><span class="text-16">State</span></th>
      <th><span class="text-16">Reason for case link</span></th>
    </tr>
  </thead>
  <tbody>
    <tr class="complex-panel-compound-field" *ngFor="let case of linkedCasesFromResponse">
      <td><span class="text-16">{{case.case_id}}</span></td>
      <td><span class="text-16">{{case.case_fields["[CASE_TYPE]"]}}</span></td>
      <!-- <td><span class="text-16">{{case.supplementary_data.HMCTSServiceId}}</span></td> -->
      <td><span class="text-16">{{case.case_fields["[STATE]"]}}</span></td>
      <td><span class="text-16"></span></td>
    </tr>
</table>