<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <table *ngIf="linkedCasesFromResponse">
      <caption *ngIf="tableHeading">
        <h1 class="heading-h1">{{tableHeading}}</h1>
      </caption>
      <caption *ngIf="tableSubHeading">
        <h2 class="heading-h2">{{tableSubHeading}}</h2>
      </caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header case-table-column" style="min-width: 200px;max-width: 200px">Case
            name and number</th>
          <th scope="col" class="govuk-table__header case-table-column" style="min-width: 200px;max-width: 200px">Case
            type </th>
          <th scope="col" class="govuk-table__header case-table-column" style="min-width: 200px;max-width: 200px">
            Service</th>
          <th scope="col" class="govuk-table__header case-table-column" style="min-width: 200px;max-width: 200px">State
          </th>
          <th scope="col" class="govuk-table__header case-table-column" style="min-width: 200px;max-width: 200px">
            Reasons for case link</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row" *ngFor="let case of linkedCasesFromResponse">
          <td class="govuk-table__cell case-table-column">
            <p class="govuk-body"><a target="_blank" href="cases/case-details/{{case.caseReference}}" rel="noopener"><span
              class="govuk-link text-16">{{case.caseReference | ccdCaseReference}} <br>
              {{case.caseName}}</span></a></p>
          </td>
          <td class="govuk-table__cell case-table-column"><span class="text-16">{{case.caseType}}</span></td>
          <td class="govuk-table__cell case-table-column"><span class="text-16">{{case.service}}</span></td>
          <td class="govuk-table__cell case-table-column"><span class="text-16">{{case.state}}</span>
          </td>
          <td class="govuk-table__cell case-table-column">
            <span class="text-16" *ngFor="let reason of case.reasons; let i = index; let isLast = last">
              {{reason}}<span><a class="text-16 govuk-!-padding-left-1" href="cases/case-details/{{ case.case_id }}"
                  *ngIf="hasLeadCaseOrConsolidated(reason)">{{getCaseRefereneLink(case.caseReference)}}</a></span>
              <br *ngIf="!isLast" />
            </span>
          </td>
        </tr>
        <tr class="govuk-table__row" *ngIf="linkedCasesFromResponse && linkedCasesFromResponse.length === 0">
          <td class="govuk-table__cell" colspan="5">
            None
          </td>
        </tr>
    </table>
  </div>
</div>