<div class="govuk-!-margin-9">
  <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <li>
          <a href="#">No task available</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="govuk-form-group govuk-form-group--error">
    <h2 class="govuk-heading-m">No task available</h2>

    <p>You should have an assigned task for this event, but something has gone wrong.</p>

    <a href="javascript:void(0)" [routerLink]="['/', 'cases', 'case-details', caseId, 'tasks']">Return to tasks tab</a>
  </div>
</div>
