<div class="govuk-grid-row" *ngIf="linkedCases.length > 0">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Select the cases you want to unlink from this case</h1>
    <div class="govuk-form-group form-group" [formGroup]="unlinkCaseForm" *ngIf="unlinkCaseForm">
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item" *ngFor="let caseReference of linkedCases">
          <input class="govuk-checkboxes__input" id="{{caseReference}}" formArrayName="linkedCases" name="linkedCases"
            type="checkbox" [value]="caseReference" (change)="onChange($event.target)">
          <label class="govuk-label govuk-checkboxes__label" for="{{caseReference}}">{{caseReference}}</label>
        </div>
      </div>
    </div>
    <div class="govuk-button-group">
      <button class="button button-primary" type="button" (click)="onNext()">Next</button>
    </div>
  </div>
</div>
