<div class="form-group" [id]="id()">

  <div *ngIf="!isComplexWithHiddenFields()">
    <h2 class="heading-h2">{{caseField | ccdFieldLabel }}</h2>

    <div class="form-group bottom-30" id="postcodeLookup" [ngClass]="{'form-group-error': missingPostcode}" *ngIf="!isExpanded">
      <label [for]="id()">
        <span class="form-label">Enter a UK postcode</span>
      </label>
      <span class="error-message" *ngIf="missingPostcode">Enter the Postcode</span>
      <input type="text" [id]="id()" name="postcode" class="form-control postcodeinput" [formControl]="postcode">
      <button type="button" class="button button-30" (click)="findAddress()">Find address</button>
    </div>

    <div class="form-group" *ngIf="addressOptions" id="selectAddress">
      <label for="addressList">
        <span class="form-label">Select an address</span>
      </label>

      <select class="form-control ccd-dropdown" id="addressList" name="address" [formControl]="addressList" (change)="addressSelected()" >
        <option *ngFor="let addressOption of addressOptions" [ngValue]="addressOption.value">
          {{addressOption.description}}
        </option>
      </select>
    </div>

    <a class="manual-link bottom-30" *ngIf="!shouldShowDetailFields()" (click)="blankAddress()" href="javascript:void(0)">I can't enter a UK postcode</a>
  </div>

  <ccd-write-complex-type-field
    [hidden]="!shouldShowDetailFields()"
    [(caseField)]="caseField"
    [renderLabel]="false"
    [formGroup]="formGroup"
    [registerControl]="registerControl"
    [ignoreMandatory]="true"
    [idPrefix]="buildIdPrefix(caseField)"
    #writeComplexFieldComponent>
  </ccd-write-complex-type-field>

</div>
