<div class="form-group" [id]="id()">

  <h3 class="heading-small heading-17">{{caseField | ccdFieldLabel }}</h3>

  <div class="form-group bottom-30" id="postcodeLookup" [ngClass]="{'form-group-error': missingPostcode}" *ngIf="!isExpanded">
    <label for="postcodeInput">
      <span class="form-label">Enter a UK postcode</span>
    </label>
      <span class="error-message" *ngIf="missingPostcode">Enter the Postcode</span>
      <input type="text" id="postcodeInput" name="postcode" class="form-control postcodeinput" [formControl]="postcode">
    <button type="button" class="button button-30" (click)="findAddress()">Find address</button>
  </div>

  <div class="form-group" *ngIf="addressOptions" id="selectAddress">
    <label for="addressList">
      <span class="form-label">Select an address</span>
    </label>

    <select class="form-control ccd-dropdown" id="addressList" name="address" [formControl]="addressList" (change)="addressSelected()" >
      <option *ngFor="let addressOption of addressOptions" [ngValue]="addressOption.value">
        {{addressOption.description}}
      </option>
    </select>
  </div>

  <a class="manual-link bottom-30" *ngIf="!shouldShowDetailFields()" (click)="blankAddress()" href="javascript:void(0)">I can't enter a UK postcode</a>

  <ccd-write-complex-type-field
    [hidden]="!shouldShowDetailFields()"
    [(caseField)]="caseField"
    [renderLabel]="false"
    [registerControl]="registerControl"
    [ignoreMandatory]="true"
    [idPrefix]="idPrefix"
    [mask]="mask"
    #writeComplexFieldComponent>
  </ccd-write-complex-type-field>

</div>
