<ng-container>
  <div *ngIf="!containsCaseLinkCollection" class="form-group">
    <label [for]="id()">
      <span class="form-label" *ngIf="caseField.label">{{caseField | ccdFieldLabel}}</span>
    </label>
    <span class="form-hint" *ngIf="caseField.hint_text">{{caseField.hint_text}}</span>
    <input class="form-control bottom-30" [id]="id()" type="text" [formControl]="caseReferenceControl">
  </div>
	<div class="form-group" *ngIf="containsCaseLinkCollection">
		<ccd-write-linked-cases [caseField]="caseField" [formGroup]="formGroup" [caseEditPageComponent]="caseEditPageComponent" 
            (onLinkedCasesSelected)="submitLinkedCases();" [isLinkedCasesJourney]="linkedCasesService.isLinkedCasesEventTrigger"></ccd-write-linked-cases>
	</div>
</ng-container>
