<div class="dialogContainer">
  <div>
    <h2 *ngIf="jurisdictions.length == 1" class="heading-h2 dialog-title">A Jurisdiction Moved</h2>

    <h2 *ngIf="jurisdictions.length > 1" class="heading-h2 dialog-title">{{jurisdictions.length}} Jurisdictions Moved</h2>
  </div>
  <div class="dialog-info">
    <span *ngIf="jurisdictions.length == 1" class="text-info">
      This application is no longer supporting the below jurisdiction on this URL.
      If you would like to work on cases in this jurisdiction, please proceed to the new URL of the application.
    </span>

    <span *ngIf="jurisdictions.length > 1" class="text-info">
      This application is no longer supporting the below jurisdictions on this URL.
      If you would like to work on cases in these jurisdictions, please proceed to the new URL of the application.
    </span>

    <br>
    <ul class="jurisdiction-list">
      <li *ngFor="let jurisdiction of jurisdictions">
        {{jurisdiction.name}}
      </li>
    </ul>
  </div>
  <div class="button-container">
    <button type="button" title="Go to new URL" class="button action-button" (click)="newAddress()">Go to new URL</button>
    <button type="button" title="Continue on this URL" class="button button-secondary" (click)="continueAsItIs()">Continue on this URL</button>
  </div>
</div>

