.text-info {
  display: block;
  width: 100%;
  line-height: 2rem;
  margin-top: 20px;
}

.jurisdiction-list {
  list-style-type:circle;
  font-weight: bold;
  margin: 0px 0px 21px 25px;
}

.button-container {
  padding: 2%;
  vertical-align: bottom;
}

.dialogContainer {
  display: table;
}