<ng-container [ngSwitch]="context">
  <ng-container *ngSwitchCase="paletteContext.CHECK_YOUR_ANSWER">
    <ccd-case-flag-summary-list [flagForSummaryDisplay]="flagForSummaryDisplay"></ccd-case-flag-summary-list>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <h2 class="govuk-heading-l">Case flags</h2>
    <div *ngFor="let flagData of partyLevelCaseFlagData">
      <ccd-case-flag-table *ngIf="flagData.partyName"
        [tableCaption]="flagData.partyName"
        [flagData]="flagData"
        [firstColumnHeader]="'Party level flags'"
      ></ccd-case-flag-table>
    </div>
    <div *ngIf="caseLevelCaseFlagData">
      <ccd-case-flag-table
        [tableCaption]="'Case level flags'"
        [flagData]="caseLevelCaseFlagData"
        [firstColumnHeader]="caseLevelFirstColumnHeader"
      ></ccd-case-flag-table>
    </div>
  </ng-container>
</ng-container>
