<!-- Current Page && Event trigger name -->
<h1 class="heading-medium">{{ eventTrigger.name}}</h1>

<!-- Case ID -->
<h2 *ngIf="getCaseId()" class="heading-small">
  #{{ getCaseId() | ccdCaseReference}}
</h2>

<div *ngIf="error" class="error-summary" role="group" aria-labelledby="edit-case-event_error-summary-heading"
     tabindex="-1">
  <h3 class="heading-medium error-summary-heading" id="edit-case-event_error-summary-heading">
    The event could not be created
  </h3>
  <p>{{error.message}}</p>
  <ul *ngIf="error.details?.field_errors" class="error-summary-list">
    <li *ngFor="let fieldError of error.details.field_errors" class="ccd-error-summary-li">{{fieldError.message}}</li>
  </ul>
</div>
<ccd-callback-errors [callbackErrorsSubject]="callbackErrorsSubject"
                     (callbackErrorsContext)="callbackErrorsNotify($event)"></ccd-callback-errors>

<form class="check-your-answers" [formGroup]="editForm" (submit)="submit()">
  <ng-container *ngIf="checkYourAnswerFieldsToDisplayExists()">

    <h2 class="heading-small">Check your answers</h2>
    <span class="text-16">Check the information below carefully. This will form a record of your application.</span>

    <table class="form-table">
      <tbody>
      <ng-container *ngFor="let page of this.wizard.pages">
        <ng-container *ngIf="isShown(page)">
          <ng-container *ngFor="let field of page.case_fields">
            <ng-container *ngIf="canShowFieldInCYA(field)">
              <tr ccdConditionalShow ccdLabelSubstitutor [caseField]="field"
                [formGroup]="editForm.controls['data']" [eventFields]="eventTrigger.case_fields">
                <th class="valign-top"><span class="text-16">{{field.label}}</span></th>
                <td class="form-cell">
                  <ccd-field-read [caseField]="summaryCaseField(field)" [context]="paletteContext"></ccd-field-read>
                </td>
                <td class="valign-top check-your-answers__change">
                  <a *ngIf="isChangeAllowed(field)" (click)="navigateToPage(page.id)"
                    href="javascript:void(0)"><span class="text-16">Change</span></a>
                </td>
              </tr>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
      </tbody>
    </table>
  </ng-container>
  <ng-container *ngIf="readOnlySummaryFieldsToDisplayExists()">

    <table class="summary-fields">
      <tbody>
        <ng-container *ngFor="let field of this.showSummaryFields">
            <ng-container [ngSwitch]="!(field | ccdIsCompound)">
              <tr *ngSwitchCase="true" ccdLabelSubstitutor [caseField]="field" [formGroup]="editForm.controls['data']" [eventFields]="eventTrigger.case_fields">
                <th>{{field.label}}</th>
                <td class="form-cell">
                  <ccd-field-read [caseField]="summaryCaseField(field)"></ccd-field-read>
                </td>
              </tr>
              <tr *ngSwitchCase="false" class="compound-field" ccdLabelSubstitutor [caseField]="field"
                  [formGroup]="editForm.controls['data']"
                  [eventFields]="eventTrigger.case_fields">
                <td colspan="2">
                  <ccd-field-read [caseField]="summaryCaseField(field)"></ccd-field-read>
                </td>
              </tr>
            </ng-container>
          </ng-container>
      </tbody>
    </table>
  </ng-container>
  <ng-container *ngIf="showEventNotes()">
    <fieldset id="fieldset-event" formGroupName="event" *ngIf="!isSolicitor()">
      <div class="form-group">
        <label for="field-trigger-summary" class="form-label">
          Event summary (optional)
          <span class="form-hint">A few words describing the purpose of the event.</span>
        </label>
        <input type="text" id="field-trigger-summary" class="form-control bottom-30 width-50" formControlName="summary" maxlength="1024">
      </div>
      <div class="form-group">
        <label for="field-trigger-description" class="form-label">Event description (optional)</label>
        <textarea id="field-trigger-description" class="form-control bottom-30 width-50" formControlName="description"
                  maxlength="65536"></textarea>
      </div>
    </fieldset>
  </ng-container>
  <div class="form-group form-group-related">
    <button class="button button-secondary" type="button" [disabled]="!hasPrevious()" (click)="previous()">Previous</button>
    <button type="submit" [disabled]="isDisabled()" class="button">{{triggerText}}</button>
  </div>
  <p class="cancel"><a (click)="cancel()" href="javascript:void(0)">{{getCancelText()}}</a></p>
</form>
