<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">There is a problem</h1>
    <p class="govuk-body">There are no cases linked to this one.</p>
    <p class="govuk-body">
      <a class="govuk-link" href="javascript:void(0)" (click)="onBack()">Go back to the Linked cases tab</a>
    </p>
    <div class="govuk-button-group">
      <button class="button button-primary" type="button" id="next-button" (click)="onBack()">Back</button>
    </div>
  </div>	
</div>
