<div class="form-group">
  <label
    for="judicial-user"
  >
    {{ caseField.label }}
  </label>
  <input
    id="judicial-user"
    class="form-control bottom-30"
    [formControl]="judicialUserFieldFormControl"
    [matAutocomplete]="autoComplete"
  >
  <mat-autocomplete
    autoActiveFirstOption
    #autoComplete="matAutocomplete"
  >
    <mat-option
      *ngFor="let judicialUser of filteredJudicialUsers"
      class="select-option"
      [ngClass]="{'hide-autocomplete': !showAutocomplete}"
      [value]="judicialUser"
      (onSelectionChange)="onSelectionChange(judicialUser)"
    >
      {{ judicialUser.fullName }} ({{ judicialUser.emailId }})
    </mat-option>
    <mat-option
      class="select-option"
      *ngIf="!filteredJudicialUsers?.length && showAutocomplete"
    >
      No results found
    </mat-option>
  </mat-autocomplete>
</div>
