<div class="form-group" [id]="id()">

  <div class="panel panel-border-wide">

    <h3 class="heading-small heading-17">
      {{caseField | ccdFieldLabel}}
    </h3>
    <button class="button" type="button" (click)="addItem(true)">Add new</button>
    <h3 class="heading-medium error-spacing">
      <span *ngIf="caseField.hint_text" class="form-hint">{{caseField.hint_text}}</span>
      <span *ngIf="formArray.errors" class="error-message">{{formArray.errors | ccdFirstError}}</span>
    </h3>

    <div class="form-group" *ngIf="caseField.value && caseField.value.length">

      <div class="form-group" *ngFor="let item of caseField.value; let i = index" #collectionItem>
        <div class="collection-title">
          <div class="float-left">
            <label class="form-label" [for]="buildIdPrefix(i) + i">{{itemLabel(i)}}</label>
          </div>
          <div class="float-right">
            <button class="button button-secondary" type="button" (click)="openModal(i)">Remove</button>
          </div>
        </div>
        <ccd-field-write [caseField]="buildCaseField(item, i)"
                         [registerControl]="buildControlRegistrer(item.id, i)"
                         [idPrefix]="buildIdPrefix(i)"
                         [mask]="mask">
        </ccd-field-write>
      </div>

    </div>

    <button class="button" type="button" (click)="addItem()" *ngIf="caseField.value && caseField.value.length">Add new</button>

  </div>

</div>
