<div class="form-group" [id]="id()">

  <div class="panel collection-indicator">

    <h2 class="heading-h2">
      {{caseField | ccdFieldLabel}}
    </h2>
    <button class="button" type="button" (click)="addItem(true)" [disabled]="isNotAuthorisedToCreate() || isSearchFilter()">Add new</button>
    <h2 class="heading-h2 error-spacing">
      <span *ngIf="caseField.hint_text" class="form-hint">{{caseField.hint_text}}</span>
      <span *ngIf="formArray.errors" class="error-message">{{formArray.errors | ccdFirstError}}</span>
    </h2>

    <div class="form-group" [hidden]="caseField.hidden" *ngIf="caseField.value && caseField.value.length">

      <div class="form-group" *ngFor="let item of collItems; let i = index" #collectionItem>
        <div class="collection-title">
          <div class="float-left">
            <label [for]="item.prefix + i"><h3 class="heading-h3">{{itemLabel(i)}}</h3></label>
          </div>
          <div class="float-right">
            <button class="button button-secondary" type="button" (click)="openModal(i)"
                    [disabled]="isNotAuthorisedToDelete(i)"
                    attr.aria-label="Remove {{ itemLabel(i) }}">Remove</button>
          </div>
        </div>
        <ccd-field-write [caseField]="item.caseField"
                         [caseFields]="caseFields"
                         [formGroup]="formGroup"
                         [parent]="item.container"
                         [idPrefix]="item.prefix"
                         [hidden]="item.caseField.hidden"
                         [isExpanded]="isExpanded"
                         [isInSearchBlock]="isInSearchBlock">
        </ccd-field-write>
      </div>

    </div>

    <button class="button" type="button" (click)="addItem(false)" [disabled]="isNotAuthorisedToCreate() || isSearchFilter()" *ngIf="caseField.value && caseField.value.length">Add new</button>

  </div>

</div>
