<div class="form-group" [id]="id()">

  <div class="panel panel-border-wide">

    <h2 class="heading-h2">
      {{caseField | ccdFieldLabel}}
    </h2>
    <button class="button" type="button" (click)="addItem(true)" [disabled]="isNotAuthorisedToCreate()">Add new</button>
    <h2 class="heading-h2 error-spacing">
      <span *ngIf="caseField.hint_text" class="form-hint">{{caseField.hint_text}}</span>
    </h2>

    <div class="form-group" *ngIf="caseField.value && caseField.value.length">

      <div class="form-group" *ngFor="let item of caseField.value; let i = index" #collectionItem>
        <div class="collection-title">
          <div class="float-left">
            <label [for]="buildIdPrefix(i) + i"><h3 class="heading-h3">{{itemLabel(i)}}</h3></label>
          </div>
          <div class="float-right">
            <button class="button button-secondary" type="button" (click)="openModal(i)"
                    [disabled]="isNotAuthorisedToDelete(i)"
                    attr.aria-label="Remove {{ itemLabel(i) }}">Remove</button>
          </div>
        </div>
        <ccd-field-write [caseField]="buildCaseField(item, i)"
                         [caseFields]="caseFields"
                         [formGroup]="formGroup"
                         [registerControl]="buildControlRegistrer(item.id, i)"
                         [idPrefix]="buildIdPrefix(i)"
                         *ngIf="!isNotAuthorisedToUpdate(i)">
        </ccd-field-write>
        <ccd-field-read [caseField]="buildCaseField(item, i)"
                        [caseFields]="caseFields"
                        [formGroup]="formGroup"
                        [context]="context"
                        *ngIf="isNotAuthorisedToUpdate(i)">
        </ccd-field-read>
      </div>

    </div>

    <button class="button" type="button" (click)="addItem()" [disabled]="isNotAuthorisedToCreate()" *ngIf="caseField.value && caseField.value.length">Add new</button>

  </div>

</div>
