<div class="form-group"
    [ngClass]="{'form-group-error': !dynamicListFormControl.valid && dynamicListFormControl.touched}">

    <label [for]="id()">
        <span class="form-label" *ngIf="caseField.label">{{caseField | ccdFieldLabel}}</span>
        <span class="form-hint" *ngIf="caseField.hint_text">{{caseField.hint_text}}</span>
        <span class="form-label" *ngIf="!caseField.label && !caseField.hint_text">Select an option from the
            dropdown</span>
        <span class="error-message"
            *ngIf="dynamicListFormControl.errors && dynamicListFormControl.touched">{{dynamicListFormControl.errors |
            ccdFirstError}}</span>
    </label>

    <select class="form-control ccd-dropdown bottom-30" [id]="id()"
        [formControl]="dynamicListFormControl">
        <option [ngValue]=null>--Select a value--</option>
        <option [ngValue]="type.code" *ngFor="let type of caseField.list_items" role="option">{{type.label}}</option>
    </select>

</div>