<div>
  <div *ngIf="hasAnyAPIFailure">
    <h1 class="govuk-heading-xl">There is a problem</h1>
    <p id="unlink-cases-error" class="govuk-error-message" *ngIf="hasAnyAPIFailure">
      <span class="govuk-visually-hidden">Error:</span> {{linkedCasesService.serverLinkedApiError.message}}
    </p>
    <p class="govuk-body">
      <a class="govuk-link" href="javascript:void(0)" (click)="onBack()">Go back to the Linked cases tab</a>
    </p>
    <button class="button button-primary" type="button" id="next-button" (click)="onNext()">Next</button>
  </div>
  <div *ngIf="!hasAnyAPIFailure">
    <h1 class="govuk-heading-xl">Before you start</h1>
    <div id="link-cases-journey" *ngIf="isLinkCasesJourney">
      <p class="govuk-body">If a group of linked cases has a lead case, you must start from the lead case.</p>
      <p class="govuk-body">If the cases to be linked has no lead, you can start the linking journey from any of those
        cases.</p>
    </div>
    <div id="manage-link-cases-journey" *ngIf="!isLinkCasesJourney">
      <p class="govuk-body">If there are linked hearings for the case you need to un-link then you must unlink the
        hearing first.</p>
    </div>
    <div class="govuk-button-group">
      <button class="button button-primary" type="button" id="next-button" (click)="onNext()">Next</button>
    </div>
  </div>
</div>