<div class="form-group bottom-30" [id]="id()" [ngClass]="{'form-group-error': dateControl && !dateControl.valid && dateControl.dirty}">

  <fieldset>
    <legend>
      <span class="form-label" *ngIf="caseField.label">{{caseField | ccdFieldLabel }}</span>
    </legend>
    <span class="form-hint" *ngIf="caseField.hint_text">{{caseField.hint_text}}</span>
    <span class="error-message" *ngIf="dateControl && dateControl.errors && dateControl.dirty">{{dateControl.errors | ccdFirstError:caseField.label}}</span>

    <cut-date-input [id]="id()"
                    [isDateTime]="isDateTime()"
                    [mandatory]="caseField | ccdIsMandatory"
                    [isInvalid]="dateControl.errors && dateControl.dirty"
                    [formControl]="dateControl"></cut-date-input>

  </fieldset>
</div>
