@import 'src/components/typography';
@import 'node_modules/govuk_frontend_toolkit/stylesheets/_shims';
@import 'node_modules/govuk_frontend_toolkit/stylesheets/_conditionals';
@import 'node_modules/govuk_frontend_toolkit/stylesheets/_measurements';

$black: #000000;
$white: #FFFFFF;
$header-background-color: $black;

.global-header {
  background-color: $header-background-color;
  width: 100%;
  @extend %contain-floats;

  .header-title {
    @include bold-20pt;
    @extend %contain-floats;
    float: left;
    font-weight: bold;
    color: $white;
    @include vertical-align;

    @include media(desktop){
      width: 50%;
    }
    @media screen and (max-width: 379px) {
      width: auto;
      float: none;
    }

    .header-title-span {
      padding-left: 22px;
    }
  }

  .header-username {
    @include core-14pt;
    @extend %contain-floats;
    float: right;
    text-align: right;
    color: $white;
    @include vertical-align;

    @include media(desktop){
      width: 50%;
    }

    .header-username-span {
      padding-right: 15px;
    }
  }
}

.title {
  font-weight: bold;
  color: $white;
  font-size: 24px;
  @extend %contain-floats;
}
.title-solicitor {
  float: left;
}

/* The dropdown container */
.dropdown {
  float: right;
  text-align: right;
  overflow: hidden;
  margin: 5px -15px 0px 0px;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 0 0 0 13px;
  background-color: $header-background-color;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #0a0a0a;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 13px;
  text-decoration: none;
  display: block;
  text-align: left;
  outline : none;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: black;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
