<header role="banner" id="global-header" class="with-proposition">
  <div [class.full-screen]="!isSolicitor" class="header-wrapper">

    <div class="header-global">
      <div *ngIf="isSolicitor" class="header-logo">
        <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="logo" class="content" style="margin-left: 0px;">
          <img src="/img/gov.uk_logotype_crown_invert_trans.png?0.23.0" width="36" height="32" alt=""> GOV.UK
        </a>
      </div>
      <div class="global-header" *ngIf="!isSolicitor">
      <div class="title">
        <span>{{title}}</span>
      </div>
      </div>
    </div>

    <div class="header-proposition">
      <div class="content">
        <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
        <div *ngIf="isSolicitor" id="proposition-menu">
          <div class="title-solicitor">
            <span id="proposition-name">{{title}}</span>
            <ng-content select="[headerNavigation]"></ng-content>
          </div>
        </div>

        <div class="dropdown">
          <button #usr class="dropbtn">{{username}} &#9660;</button>
          <div class="dropdown-content" [style.min-width]="(usr.offsetWidth - 3) + 'px'">
            <a (click)="signOut()" href="javascript:void(0)">Sign Out</a>  <!-- style="text-align: left;" -->
          </div>
        </div>
      </div>
    </div>

  </div>
</header>
