<div class="form-group bottom-30" [ngClass]="{'form-group-error': !moneyGbpControl.valid && moneyGbpControl.touched}">

  <label [for]="id()">
    <span class="form-label" *ngIf="caseField.label">{{caseField | ccdFieldLabel}}</span>
  </label>
  <span class="form-hint" *ngIf="caseField.hint_text">{{caseField.hint_text}}</span>
  <span class="error-message" *ngIf="moneyGbpControl.errors && moneyGbpControl.touched">{{moneyGbpControl.errors | ccdFirstError:caseField.label}}</span>

  <div class="form-money">
    <span class="form-currency">&#163;</span>
    <ccd-money-gbp-input [id]="id()"
                         [name]="id()"
                         [mandatory]="caseField | ccdIsMandatory"
                         [formControl]="moneyGbpControl"></ccd-money-gbp-input>
  </div>

</div>
