@import "settings/manifest";
@import "objects/manifest";

// Reference to all components
@import "../../components/all";


// TODO REMOVE THIS WHEN UX VERSION GETS BUMPED UP OR WHEN MENU COMPONENT IS DONE INSTEAD
// DOTO NEEDS TO BE REMOVED
.hmcts-page-heading__title-wrapper {
    @media screen and (min-width: 641px) {
        float: left;
    }
}

.hmcts-page-heading__actions-wrapper {
    @media screen and (min-width: 641px) {
        float: right;
    }
}
