<div *ngIf="error" class="error-summary" role="group" aria-labelledby="edit-case-event_error-summary-heading" tabindex="-1">
  <h3 class="heading-medium error-summary-heading" id="edit-case-event_error-summary-heading">
    The callback data failed validation
  </h3>
  <p>{{error.message}}</p>
  <ul *ngIf="error.details?.field_errors" class="error-summary-list">
    <li *ngFor="let fieldError of error.details.field_errors">
      {{fieldError.message}}
    </li>
  </ul>
</div>
<ccd-callback-errors
  [triggerTextContinue]="triggerTextStart"
  [triggerTextIgnore]="triggerTextIgnoreWarnings"
  [callbackErrorsSubject]="callbackErrorsSubject"
  (callbackErrorsContext)="callbackErrorsNotify($event)">
</ccd-callback-errors>
<ccd-activity [caseId]="caseDetails.case_id" [displayMode]="BANNER"></ccd-activity>
<div class="grid-row">
  <div class="column-one-half">
    <ccd-case-header [caseDetails]="caseDetails"></ccd-case-header>
    <div class="case-viewer-controls" *ngIf="!isDraft()">
      <a id="case-viewer-control-print" routerLink="print" class="button button-secondary">Print</a>
    </div>
  </div>
  <div class="column-one-half">
    <ccd-event-trigger [callbackErrorsSubject]="callbackErrorsSubject" [triggers]="caseDetails.triggers" [triggerText]="triggerText" (change)="clearErrorsAndWarnings()" (onTrigger)="applyTrigger($event)"></ccd-event-trigger>
  </div>
</div>
<div class="grid-row">
  <div class="column-full">
    <cut-tabs>
      <cut-tab [id]="'History'" [title]="'History'">
        <ccd-event-log [events]="caseDetails.events"></ccd-event-log>
      </cut-tab>
      <cut-tab *ngFor="let tab of sortedTabs" [id]="tab.id" [title]="tab.label">
        <table [class]="tab.id">
          <tbody>
          <ng-container *ngFor="let field of tab.fields">
            <div ccdConditionalShow ccdLabelSubstitutor [caseField]="field" [eventFields]="caseFields">
              <ng-container [ngSwitch]="!(field | ccdIsCompound)">
                <tr *ngSwitchCase="true">
                  <th>
                    <div class="case-viewer-label text-16">{{field.label}}</div>
                  </th>
                  <td><span class="text-16"><ccd-field-read [caseField]="field" [caseReference]="caseDetails.case_id"></ccd-field-read></span></td>
                </tr>
                <tr *ngSwitchCase="false" class="compound-field">
                  <th><span class="text-16"><ccd-field-read [caseField]="field" [caseReference]="caseDetails.case_id"></ccd-field-read></span></th>
                </tr>
              </ng-container>
            </div>
          </ng-container>
          </tbody>
        </table>
      </cut-tab>
    </cut-tabs>
  </div>
</div>
