<div *ngIf="isDataLoaded()">
  <ccd-case-header [caseDetails]="caseDetails"></ccd-case-header>
  <h2 class="heading-h2">Print</h2>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let document of documents">
        <td class="document-name"><a [href]="document.url | ccdPrintUrl" target="_blank" rel="external">{{document.name}}</a></td>
        <td class="document-type">{{document.type}}</td>
      </tr>
    </tbody>
  </table>
</div>
