<div class="site-wrapper">
    <main id="content" role="main">
        <h1 class="heading-large">Case View component</h1>

        <div class="text">
            <p> This component is used to view a case. The elements of the contract are:</p>
            <ul class="list list-bullet text">
                <li>Input fields:
                    <ul class="list list-bullet text">
                        <li>case - an id of a case (e.g. 1111222233334444)</li>
                        <li>hasPrint - optionally display/hide print button (true by default)</li>
                        <li>hasEventSelector - optionally display/hide event selector dropdown (true by default)</li>
                        <li>error - http error as a result of failed navigation (e.g. callback warnings or errors); it is required to display errors correctly inside case viewer</li>
                    </ul>
                </li>
                <li>Output fields:
                    <ul class="list list-bullet text">
                        <li>navigationTriggered - notification about triggered navigation (current possible navigations below)</li>
                        <ul class="list list-bullet text">
                            <li>DRAFT_DELETED - navigation after a sucessful deletion of a draft</li>
                            <li>ERROR_DELETING_DRAFT - navigation after an error occurs on trying to delete draft</li>
                            <li>DRAFT_RESUMED - navigation after a draft is resumed</li>
                            <li>EVENT_TRIGGERED - navigation after event is triggered</li>
                            <li>NO_READ_ACCESS_REDIRECTION - navigation after user has no READ access when redirected to case view after a case created</li>
                        </ul>
                    </ul>
                </li>
            </ul>
        </div>

        <p>Example with all optionals hidden:</p>
        <pre class="language-markup">
            <code class="language-markup">{{code}}</code>
        </pre>

        <div class="example">
            <ccd-case-view [case]="caseId" [hasPrint]="false" [hasEventSelector]="true" [error]="error"
                (navigationTriggered)="navigationTriggered($event)"></ccd-case-view>
        </div>
    </main>
</div>