<div class="global-navigation">
    <div class="nav-left">
        <ul id="menu-links-left">
            <li>
                <a [routerLink]="'/case/create'" [routerLinkActive]="'item-bold'">Create Case</a>
            </li>
            <li>
                <a [routerLink]="'/case/progress'" [routerLinkActive]="'item-bold'">Progress Case</a>
            </li>
            <li>
                <a [routerLink]="'/case/view'" [routerLinkActive]="'item-bold'">View Case</a>
            </li>
            <li>
                <a [routerLink]="'/search'" [routerLinkActive]="'item-bold'">Search</a>
            </li>
            <li>
                <a [routerLink]="'/case/create-filters'" [routerLinkActive]="'item-bold'">Create Case Filters</a>
            </li>
        </ul>
    </div>
</div>
<router-outlet></router-outlet>