<div class="site-wrapper">
    <main id="content" role="main">
        <h1 class="heading-large">Workbasket Filters component</h1>

        <div class="text">
            <p> This component is used to set the jurisdiction, case type, state and keyword when searching cases. The elements of the contract are:</p>
            <p> Sibling component of <a [routerLink]="'/case/case-list-filters'">Case List Filters</a>. Has an additonal input "jurisdictions".</p>
            <ul class="list list-bullet text">
                <li>Input fields:
                    <ul class="list list-bullet text">
                        <li>jurisdictions - a collection of jurisdictions - including nested casetypes and states
                            <p><a href="https://github.com/hmcts/ccd-case-ui-toolkit/blob/master/src/shared/domain/definition/jurisdiction.model.ts" target="_blank">Jurisdiction model</a></p>
                            <p>Collection:</p>
                            <pre class="language-markup"><code class="language-markup">{{json.stringify(jurisdictions, null, '\t')}}</code></pre>
                        </li>
                        <li>defaults - an object consisiting of jurisdiction, casetype and state id's
                            <pre class="language-markup"><code class="language-markup">{{json.stringify(defaults, null, '\t')}}</code></pre>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="list list-bullet text">
                <li>Output fields:
                    <ul class="list list-bullet text">
                        <li>onApply - a notification event about search filters being submitted containing an event with:
                            <ul class="list list-bullet text">
                                <li>selected: Jurisdiction</li>
                                <li>queryParams: Object</li>
                            </ul>
                        </li>
                        <li>onReset - a notification event about search filters being reset
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <pre class="language-markup">
            <code class="language-markup">{{code}}</code>
        </pre>

        <div class="example">
            <ccd-workbasket-filters
                [jurisdictions]="jurisdictions"
                [defaults]="defaults"
                (onApply)="applied($event)"
                (onReset)="reset($event)"
            ></ccd-workbasket-filters>
        </div>
    </main>
</div>
