<ng-container [ngSwitch]="context">
  <ccd-read-complex-field-raw
    *ngSwitchCase="paletteContext.CHECK_YOUR_ANSWER"
    [caseField]="caseField"
    [context]="context"
  ></ccd-read-complex-field-raw>
  <ccd-read-complex-field-collection-table
    *ngSwitchCase="paletteContext.TABLE_VIEW"
    [caseField]="caseField"
    [context]="context"
  ></ccd-read-complex-field-collection-table>
  <ccd-read-complex-field-table
    *ngSwitchDefault
    [caseField]="caseField"
    [caseFields]="caseFields"
    [context]="context"
  ></ccd-read-complex-field-table>
</ng-container>
