 <div class="complex-panel">
      <dl class="complex-panel-title"><dt><span class="text-16">{{caseField.label}}</span></dt><dd></dd></dl>
      <table class="complex-panel-table">
        <tbody>
        <tr>
          <ng-container *ngFor="let heading of columns">
            <ng-container *ngFor="let name of columnsAllLabels | keyvalue">
              <th *ngIf="heading.trim() == name.key">
                <span class="text-16">{{name.value.label}}</span>
              </th>
            </ng-container>
          </ng-container>
          <th></th>
        </tr>
        <ng-container *ngFor="let item of caseField.value;  let i = index">
          <tr class="new-table-row accordion-heading" (click)="isHidden[i] = !isHidden[i]" [class.last-accordion]="lastAccordion && isHidden[i]">
            <ng-container *ngFor="let heading of columns">
              <ng-container  *ngFor="let name of item.value | keyvalue">
                <td *ngIf="heading.trim() == name.key" class="text-16">
                  <ccd-field-read [caseField]="{
                        id: name.key,
                        label: name.value.label,
                        field_type: { type: columnsHorizontalLabel[heading.trim()].type},
                        value: name.value
                      }" [context]="context"></ccd-field-read>
                </td>
              </ng-container>
            </ng-container>
              <td>
                <div style="float: right;">
                  <img src="{{ getImage(i) }}" class="accordion-image"/>
                </div>
               </td>
          </tr>
          <tr>
            <td [colSpan]="columns.length +1">
              <table class="complex-panel-table">
                <tbody>
                <ng-container *ngFor="let vLabel of columnsVerticalLabel | keyvalue">
                  <ng-container  *ngFor="let name of item.value | keyvalue">
                    <tr *ngIf="vLabel.key == name.key"  class="complex-panel-simple-field accordion-body" [hidden]="isHidden[i]" [class.last-accordion]="lastAccordion">
                      <th ><span class="text-16">{{vLabel.value.label}}</span></th>
                      <td class="text-16">
                        <ccd-field-read [caseField]="{
                              id: name.key,
                              label: vLabel.value.label,
                               field_type: { type: vLabel.value.type},
                              value: name.value
                            }" [context]="context"></ccd-field-read>
                      </td>
                      <!--<td ><span class="text-16">{{name.value}}</span></td>-->
                    </tr>
                  </ng-container>
                </ng-container>
                </tbody>
              </table>
            </td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </div>
