<div class="form-group" [id]="id()">

  <h2 *ngIf="renderLabel" class="heading-h2">{{caseField | ccdFieldLabel}}</h2>
  <ng-container *ngFor="let field of caseField | ccdFieldsFilter:true">
    <ng-container [ngSwitch]="field | ccdIsReadOnlyAndNotCollection">
      <ccd-field-read *ngSwitchCase="true"
                      ccdLabelSubstitutor
                      [caseField]="buildField(field)"
                      [caseFields]="caseFields"
                      [formGroup]="formGroup"
                      [withLabel]="true">
      </ccd-field-read>
      <ccd-field-write *ngSwitchCase="false"
                       ccdLabelSubstitutor
                       [caseField]="buildField(field)"
                       [caseFields]="caseFields"
                       [formGroup]="formGroup"
                       [parent]="complexGroup"
                       [idPrefix]="buildIdPrefix(field)"
                       [hidden]="field.hidden">
      </ccd-field-write>
    </ng-container>
  </ng-container>
</div>
