<div class="form-group" [id]="id()">

  <h2 *ngIf="renderLabel" class="heading-h2">{{caseField | ccdFieldLabel}}</h2>
  <ng-container *ngFor="let field of caseField | ccdFieldsFilter:true">
    <ng-container [ngSwitch]="field | ccdIsReadOnly">
      <ccd-field-read *ngSwitchCase="true"
                      ccdConditionalShow
                      ccdLabelSubstitutor
                      [caseField]="field"
                      [contextFields]="caseFields"
                      [caseFields]="caseFields"
                      [formGroup]="formGroup"
                      [withLabel]="true"
                      [idPrefix]="buildIdPrefix(field)"
                      [registerControl]="buildControlRegistrer(field)">
      </ccd-field-read>
      <ccd-field-write *ngSwitchCase="false"
                       ccdConditionalShow
                       ccdLabelSubstitutor
                       [greyBarEnabled]="true"
                       [caseField]="field"
                       [contextFields]="caseFields"
                       [caseFields]="caseFields"
                       [formGroup]="formGroup"
                       [formSubGroup]="complexGroup"
                       [registerControl]="buildControlRegistrer(field)"
                       [idPrefix]="buildIdPrefix(field)">
      </ccd-field-write>
    </ng-container>
  </ng-container>
</div>
