
<div>
    <div class="dialog-header">
      <h2 (click)="cancel()" class="heading-medium x">X</h2>
    </div>
    <div>
      <h2 class="heading-medium dialog-title">Are you sure you want to delete this draft?</h2>
    </div>
    <div class="dialog-info">
      <span class="text-info">You are about to delete this draft. Are you sure you want to proceed?</span>
    </div>
    <div>
      <button type="button" title="Delete" class="button action-button" (click)="delete()">Delete draft</button>
      <button type="button" title="Cancel" class="button button-secondary" (click)="cancel()">Cancel</button>
    </div>
  </div>