<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Access successful<br><br>
          <div class="govuk-panel__body">
            Case reference:<br>
            {{caseId}}
          </div>
        </h1>
      </div>
      <h2 class="govuk-heading-m ">What happens next</h2>
      <p class="govuk-body">
        You can access this case file until midnight tonight.
      </p>
      <p class="govuk-body">
        You'll need to request access again once this expires.
      </p>
      <p class="govuk-body">
        Your request will be logged for auditing purposes.
      </p>
      <p class="govuk-body"><a href="cases/case-details/{{caseId}}">View case file</a>.</p>
    </div>
  </div>
</div>
