<div class="form-group" [ngClass]="{'form-group-error': !valid}">
  <label [for]="id()">
    <span class="form-label" attr.aria-label="{{caseField | ccdFieldLabel}}">{{caseField | ccdFieldLabel}}</span>
    <span class="form-hint" *ngIf="caseField.hint_text">{{caseField.hint_text}}</span>
    <span class="error-message" *ngIf="fileUploadMessages && !valid">{{fileUploadMessages}}</span>
  </label>

  <div>
    <!--<span *ngIf="getUploadedFileName()" class="text-16">File name: {{getUploadedFileName()}}</span>-->
    <ccd-read-document-field *ngIf="caseField" [caseField]="caseField"></ccd-read-document-field>
  </div>

  <div style='position:relative'>

    <div id='fileInputWrapper' (click)="fileSelectEvent()"  ></div>
    <input class="form-control bottom-30" [id]="id()" type="file" (keydown.Tab)="fileValidationsOnTab()" (change)="fileChangeEvent($event)"
          accept="{{caseField.field_type.regular_expression}}" #fileInput/>
  </div>
</div>
<div class="form-group">
  <button class="button button-secondary" type="button" aria-label="Cancel upload" (click)="cancelUpload()" [disabled]="!isUploadInProgress()">Cancel upload</button>
</div>
