#case-file-view {
  display: flex;

  .document-tree-container {
    width: 80%;
    min-height: 400px;
		min-width: 100px;
  }
  
  .slider {
    width: 0.4%;
		background-color: #6B6B6B;
  }

  .slider:hover,
  .slider:focus {
    cursor: col-resize;
  }
  
  .media-viewer-container {
    flex: 1 1 0%;
  }  
}
