<div class="form-group" [formGroup]="formGroup">
  <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="100">
    <div class="govuk-form-group" [ngClass]="{'form-group-error': errorMessages.length > 0}">
      <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" [for]="flagCommentsControlName">
          {{addCommentsTitle}}<span *ngIf="optional"> (optional)</span>
        </label>
      </h1>
      <div id="add-comments-hint" class="govuk-hint">
        {{addCommentsHint}}
      </div>
      <div id="flag-comments-not-entered-error-message" class="govuk-error-message"
        *ngIf="flagCommentsNotEnteredErrorMessage">
        <span class="govuk-visually-hidden">Error:</span> {{flagCommentsNotEnteredErrorMessage}}
      </div>
      <div id="add-comments-char-limit-error" class="govuk-error-message"
        *ngIf="flagCommentsCharLimitErrorMessage">
        <span class="govuk-visually-hidden">Error:</span> {{flagCommentsCharLimitErrorMessage}}
      </div>
      <textarea class="govuk-textarea" [id]="flagCommentsControlName"
        [name]="flagCommentsControlName" [formControlName]="flagCommentsControlName" rows="5"
        aria-describedby="add-comments-hint add-comments-char-limit-info add-comments-char-limit-error"></textarea>
      <div id="add-comments-char-limit-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
        {{addCommentsCharLimitInfo}}
      </div>
    </div>
  </div>
</div>
