<h1 class="govuk-heading-xl">Select flag type</h1>
<div class="govuk-radios">
  <div class="govuk-radios__item">

  </div>
  <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
    <!-- TODO: Loop through the case flag type list and display radio buttons-->
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="flag-type-0" name="flagType" type="radio" value="urgent-case" data-aria-controls="conditional-flag-type-0" (change)="onFlagTypeChanged($event)">
      <label class="govuk-label govuk-radios__label" for="flag-type-0">Urgent case</label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="flag-type-1" name="flagType" type="radio" value="vulnerable-user" data-aria-controls="conditional-flag-type-1" (change)="onFlagTypeChanged($event)">
      <label class="govuk-label govuk-radios__label" for="flag-type-1">Vulnerable user</label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="flag-type-2" name="flagType" type="radio" value="other" data-aria-controls="conditional-flag-type-2" (change)="onFlagTypeChanged($event)">
      <label class="govuk-label govuk-radios__label" for="flag-type-2">Other</label>
    </div>
    <div class="govuk-radios__conditional" [ngClass]="{'hidden': flagTypeSelected !== 'others'}" id="conditional-flag-type-2">
      <div class="govuk-form-group">
        <label class="govuk-label" for="other-flag-type">Enter a flag type</label>
        <input class="govuk-input govuk-!-width-one-half" id="other-flag-type" name="other-flag-type" type="text" maxlength="80"></div>
    </div>
  </div>
</div>
